<h1>INDEX OF ALL COCKTAILS</h1>
<br>
<h2> <%= link_to "CREATE A NEW COCKTAIL", new_cocktail_path  %></h2>
<br>
<% @cocktails.each do |cock| %>
  <li> <%= link_to cock.name, cocktail_path(cock) %> </li>
<% end %>

<%= cl_image_tag("lrqc84t3btif8w06fvec",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
